<div class="col-md-12 page-body">
    <div class="row">

        <div class="sub-title">
            <h2>My Blog</h2>
            <a href="#!/"><i class="icon-home"></i></a>
        </div>


        <div class="col-md-12 content-page">

            <!-- Blog Post Start -->
            <div class="col-md-12" ng-repeat="post in posts">
                <div class="post-title">
                    <a href="#!expand" ng-click="setPost(post)"><h1>{{post.title}}</h1></a>
                </div>
                <div class="post-info">
                    <span>{{post.dateofcreation}} / by <a href="https://www.linkedin.com/in/vikash-sharma-939027102/" target="_blank" >Vikash Kumar Sharma</a>  #{{post.category}}</span>
                </div>
                <p>{{post.description}}</p>
                <a href="#!expand"
                   class="button button-style button-anim fa fa-long-arrow-right" ng-click="setPost(post)"><span>Read More</span></a>
            </div>
            <!-- Blog Post End -->



            <div class="col-md-12 text-center">
                <a href="javascript:void(0)" id="load-more-post" class="load-more-button">Load</a>
                <div id="post-end-message"></div>
            </div>
        </div>
    </div>
</div>