<div class="col-md-12 page-body">
    <div class="row">


        <div class="sub-title">
            <h2>Contact Me</h2>
            <a href="#!/"><i class="icon-home"></i></a>
            
        </div>


        <div class="col-md-12 content-page">
            <div class="col-md-12 ">


                <!-- Intro Start -->
                <div class="post-title margin-bottom-10">
                    <h1>Looking for a <span class="main-color">online presence</span>?</h1>
                </div>

                <p>
                   I enjoy giving life to ideas. Learning each day has always made me going deeper and deeper into the 
                   field of computer science. Exploring things how they are built and with what has always been something 
                   that been my utmost pleasure. Solving real life problems keeping the solution as simple as possible is what eye
                   in the problems I solve or try. My passion for developing applications has always made me learning new
                   and efficient technologies. I build mobile native applications using android as well as hybrid applications using 
                   codorova and ionic framework. Considering web applications I love to have both javascript in the frontend as well
                   as backend for that reason I use mean stack a lot. Java, JavaScript are the language that I use a lot, writing code for
                   data structures  and algorithms I use java a lot. Database design for applications is also something I love doing.
                   Data science and machine learning are fields that I am learning now. Talking to people and learning from them as well
                   sharing helps me in staying updated with lot of things happening around. Click <a href="/get-me-my-resume">here</a> to check out my resume.
                </p>
                <!-- Intro End -->


                <!-- Testimonials Start -->

                <!-- Testimonials  End -->


                <!-- Contact Me Start -->
                <div class="post-title margin-top-70">
                    <h1>Contact <span class="main-color">Me</span></h1>
                </div>


                <div class="row">

                    <div class="col-md-4 col-sm-4">
                        <div class="contact-us-detail">
                            <i class="icon-screen-smartphone color-6"></i>
                            <p><a href="tel:+919038761419">+91 9038761419</a></p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="contact-us-detail">
                            <i class="icon-envelope-open color-5"></i>
                            <p><a href="mailto:name@domain.com">vikashhrs@gmail.com</a></p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="contact-us-detail">
                            <i class="icon-clock color-3"></i>
                            <p>Anytime</p>
                        </div>
                    </div>

                </div>


                <div class="row margin-top-30">
                    <div class="col-md-12">

                        <div class="row">
                            <div ng-show="alertDisplay" class="alert alert-danger">
                                {{alertMessage}}
                            </div>
                            <form ng-hide="alertSuccess">

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" ng-model="name" id="name" class="form-control"
                                               placeholder="Your Name">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="email" ng-model="email" id="email" class="form-control"
                                               placeholder="Your Email">
                                    </div>
                                </div>



                                <div class="col-sm-12">
                                    <div class="textarea-message form-group">
                                                        <textarea id="message" ng-model="message" class="textarea-message form-control"
                                                                  placeholder="Your Message" rows="5"></textarea>
                                    </div>
                                </div>


                                <div class="text-center">
                                    <button type="submit" class="load-more-button" ng-click="saveMessage()">Send</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="alert alert-info" ng-show="alertSuccess">
                    <p style="text-align: center">{{alertSuccessMessage}}</p>
                </div>
                <!-- Contact Me End -->


            </div>
        </div>
    </div>
</div>